.idea/
*.iml
*.swp
.DS_Store

**.log

*.fail.go

bin
coverage.out
tags
profile.coverprofile
explain_test
cmd/explaintest/explain-test.out
cmd/explaintest/explaintest_tidb-server
tools/bin/
vendor
/_tools/
